doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title apple
        link(rel="stylesheet", href="/css/styles.css")
    body 
        header.header
            header.leftHeader
            header.header1 
                div.img
                    a(href="/") 
                        img(src="https://image.ajunews.com/content/image/2021/04/14/20210414081723110830.png" width="60px")
            header.header2
                a(href="/iphone") 
                    div.iphone IPHONE
                div.iphoneHover  
            header.header3
                a(href="/ipad") 
                    div.ipad IPAD
                div.ipadHover  
            header.header4 
                a(href="/mac")
                    div.mac MAC
                div.macHover 
            header.header5 
                a(href="/watch") 
                    div.watch WATCH
                div.watchHover         
            header.header6 
                a(href="/board/review") 
                    div.review REVIEW        
            header.header7 
                a(href="/join")
                    div.join 회원가입
            header.header8 
                a(href="/login")
                    div.login 로그인
            header.rightHeader


        block content