doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title apple
        link(rel="stylesheet", href="/css/styles.css")
    body 
        header.header
            div(class="hd")
            div(class="img")
                a(href="/") 
                    img(src="https://image.ajunews.com/content/image/2021/04/14/20210414081723110830.png" width="60px")


            article 
                a(href="/iphone") IPHONE    
            article  
                a(href="/ipad") IPAD 
            article   
                a(href="/mac") MAC
            article  
                a(href="/review") REVIEW
            article 
                a(href="/login") LOGIN


        block content