doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title apple
        link(rel="stylesheet", href="/css/styles.css")
    body 
        header.header
            div.header1
                div(class="hd")
                div(class="img")
                    a(href="/") 
                        img(src="https://image.ajunews.com/content/image/2021/04/14/20210414081723110830.png" width="60px")
                div
                    a(href="/iphone") IPHONE  
                div
                    a(href="/ipad") IPAD 
                div
                    a(href="/mac") MAC
                div
                    a(href="/watch") WATCH 
                div
                    a(href="/review") REVIEW
                div
                    a(href="/login") LOGIN

            div.header2
                div.just
                div.iphone
                    p IPHONE
                    a(href="a") a
                    a(href="b") b
                    a(href="c") c
                    a(href="d") d 
                div.ipad
                    a(href="a") a
                    a(href="b") b
                    a(href="c") c
                    a(href="d") d
                div.mac
                    a(href="a") a
                    a(href="b") b
                    a(href="c") c
                    a(href="d") d
                div.watch
                    a(href="a") a 
                    a(href="b") b
                    a(href="c") c
                    a(href="d") d
                div.review
                    a(href="a") a
                    a(href="b") b
                    a(href="c") c
                    a(href="d") d
                div.login 
                    a(href="a") a


        block content