extends ../layouts/base.pug

        form(action="/api/user/register" method="POST")
            div 
                labdel(htmlFor="email") EMAIL 
                input(type = "email" name="email" id="email" required) 
            div     
                label(htmlfor="password")  PASSWORD 
                input(type = "password" name="password" id="password" required) 
            div     
                label(htmlfor="nickname")  NICKNAME  
                input(type = "nickname" name="nickname" id="nickname" required) 

            input(type="submit" value="SIGN UP")