extends ../layouts/base.pug

block content 
    div.main_top 
        div.main_just
        div.main_ip
        div.ip_box
            div.ip_txt
                p IPHONE13PRO
                p -
                p A15 Bionic 칩
                p 망원, 와이드, 울트라 와이드
                p 최대 28시간 동영상 재생
                p MacSafe 액세서리와 호환
        div.main_ipd
        div.ipd_box
            div.ipd_txt 
                p IPAD MINI 
                p -
                p A15 Bionic 칩
                p 12MP 와이드 카메라
                p 초고속 다운로드, 고화질 스트리밍
                p Apple Pencil(2세대)과 호환
        div.main_air
        div.air_box
            div.air_txt 
                p AIRPODS 3rd
                p -
                p H1 칩
                p 땀과 습기에 강한 생활 방수 디자인
                p 한 번 충전으로 최대 6시간 청취 가능
                p 충전 케이스 사용 시 최대 30시간까지 청취 가능
        div.main_wat
        div.wat_box 
            div.wat_txt 
                p APPLE WATCH SERIES 7
                p -
                p 가장 강력한 깨짐 방지 성능을 갖춘 전면 크리스털
                p 상시표시형 Retina 디스플레이
                p 혈중 산소 포화도 측정 및 심전도 검사
        div.just