extends ../layouts/Loginbase.pug

block content
    main.reviewmain
        div.reviewWrite
            div.reviewButton 
                a(href="/review") 리뷰작성하기   
        .Selctereview            
            each review in Selectreview_db
                div.Selctereview
                    div.ho
                        div.reviewNickname 
                            div #{review.nickname}
                        div.reviewKinds
                            div #{review.kinds}
                        div.reviewGrade 
                            div #{review.grade}점
                        div.reviewContent 
                            div #{review.content}
                        hr.hr