doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width= , initial-scale=1.0")
        title Document
    body 
        form(action="/review/wrote" method="POST")
            div
                label(htmlFor="nickname") 닉네임
                input(type="text" name="nickname" id="nickname" required)
            div
                label(htmlFor="content") 내용 
                input(type="text" name="content" id="content" required) 
            div
                label(htmlFor="grade") 평점
                input(type="number" name="grade" id="grade" min="1" max="100" required)
            div
                label(htmlFor="kinds") 기종
                input(htmlFor="text" name="kinds" id="kinds" required)
            input(type="submit" value="작성하기")
            
            