.reviewmain {
    width: 100%;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.reviewWrite {
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviewButton {
    width: 100%;
    height: 100px;
    background-color: #6D6968;
    font-family: "Cafe24SsurroundAir";
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.reviewButton a {
    color: white;
    font-family: "Cafe24SsurroundAir";
    text-decoration: none;
}

.Selectreview {
    width: 100%;
    height: 6px;
}

.ho {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.reviewNickname {
    width: 15%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviewContent {
    width: 15%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviewGrade {
    width: 15%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviewKinds {
    width: 15%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hr {
    background-color: black;
}
